<ul class="menu__second-level">
  <li><a href="/mountains/owari">尾張の山</a></li>
  <li><a href="/mountains/nishimikawa">西三河の山</a></li>
  <li><a href="/mountains/okumikawa">奥三河の山</a></li>
  <li><a href="/mountains/higashimikawa">東三河の山</a></li>
</ul>