<div class="mountains-list">
  <h1>尾張の山</h1>
  <div class="area-image">
    <img src="../images/area/area1.jpg" alt="尾張画像">
  </div>
  <div class="area-mountains">
    <table class="table">
      <thead>
        <th>山名</th>
        <th>標高</th>
        <th>登山日</th>
      </thead>
      <tbody>
        <% @mountains_owari.each do |mountain| %>
          <tr>
            <th><%=link_to "#{mountain.name}", mountain_path(mountain)%></th>  
            <th><%= mountain.height %></th>
            <th><%= mountain.climbing_date %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <span class="fa fa-angle-double-left"></span><a href="/mountains/area">エリア選択に戻る</a>
</div>