<div class="profile">
  <h1>管理人プロフィール</h1>
  <div class="container">
    <div class="profile-image"><img src="images/yama2.png" alt="山おじさん写真" ></div>
    <div class="yamaoji">
    <table>
      <tbody>
        <tr>
          <th>名前</th>
          <td>山おじさん</td>
        </tr>
        <tr>
          <th>年齢</th>
          <td>51歳</td>
        </tr>
        <tr>
          <th>住んでいる所</th>
          <td>愛知県三河地方</td>
        </tr>
        <tr>
          <th>登山歴</th>
          <td>一昨年の夏から山に登り始めました<br>
          運動不足がきっかけです<br>
          死ぬまでに、愛知の山全てに登りたい！！
          </td>
        </tr>
        <tr>
          <th>出没地</th>
          <td>愛知の山全般</td>
        </tr>
        <tr>
          <th>登山時間</th>
          <td>早朝に出かけて昼前に帰宅することが多いです</td>
        </tr>
        <tr>
          <th>好きな山</th>
          <td>茶臼山（西尾市）</td>
        </tr>
        <tr>
          <th>Instagram</th>
          <td><a href="https://www.instagram.com/spyder_v3/">https://www.instagram.com/spyder_v3/</a></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>





 
  