<h1>管理人プロフィール</h1>

<div class="row">
  <div class="profile-image col-sm-5">
    <img src="images/profile.JPG" alt="山おじさん写真" class="img-responsive center-block" >
  </div>
  <div class="profile-data col-sm-offset-2 col-sm-5 ">
    <table class="table table-hover">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th>HN</th>
        <td>山おじさん</td>
      </tr>
      <tr>
        <th>登山歴</th>
        <td>一昨年の夏から山に登り始めました<br>
        運動不足がきっかけです<br>
        </td>
      </tr>
      <tr>
        <th>出没地</th>
        <td>三河の山全般</td>
      </tr>
      <tr>
        <th>登山時間</th>
        <td>早朝に出かけて昼前に帰宅することが多いです</td>
      </tr>
      <tr>
        <th>好きな山</th>
        <td>茶臼山（西尾市）</td>
      </tr>
      <tr>
        <th>Instagram</th>
        <td></td>
      </tr>
      <tr>
        <th>Twitter</th>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>



