<% content_for :cover do %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <div class="greeting text-center">
          <p>山おじさんのホームページへようこそ<br>
             愛知の130山を紹介しています</p>
        </div>
        <div class="top-image text-center">
          <img src="images/top.jpg" alt="山トップ画像">
        </div>
      </div>
    </div>
  </div>
<% end %>

<h2>愛知の130山</h2>
<h2>What's new</h2>
