
<div class="gallery">
  <h1>山おじさんの写真館</h1>
  <p>クリックして拡大してね</p>
  <div class="row">
    <% @galleries.each do |gallery| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="gallery-image">
        <%= image_tag gallery.image.url %>
        <p><%= link_to "#{gallery.name}", gallery_path(gallery)%></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>



<% if manager_logged_in? %>
  <div class="text-center"><%= link_to "写真を追加", new_gallery_path, class: "btn btn-primary" %></div>
<% end %>

