

/* 山歩き記録エリア------------------------------------------------------*/
.mountains-list{
  max-width: 1200px;
  margin: 0 auto;
}

.area-image{
  width: 90%;
  margin: 0 auto;
}

.area-image img{
  width: 100%;
  padding: 5px;
}

.area-mountains{
  width: 90%;
  margin: 0 auto;
}

/* 山歩き記録個別------------------------------------------------------*/

.mountains-show{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.mountain-name{
  position: relative;
}

.mountain-name p{
  position: absolute;
  top:15px;
  right: 30px;
}

.mountain-record:after{
  content: "";
  display: block;
  clear: both;
}

.mountain-record .data{
  float: left;
  width: 50%;
}

.mountain-record .route{
  float: left;
  width: 50%;
  height: 280px;
}

.mountain-record .data table{
  width: 80%;
  margin: 0 auto;
}

.data table tr{
  height: 40px;
  line-height: 50px;
}

.mountain-record .route img{
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-right: 50px;
}

.mountain-comment{
  width: 90%;
  margin: 0  auto;
}

.mountain-comment p{
  text-align: left;
  padding:10px;
  border: 1px solid black;
  border-radius: 10px;
}

.mountain-images{
  width: 90%;
  margin: 0 auto;
  min-height: 335px;
}

.mountain-images:after{
  content:"";
  display: block;
  clear: both;
}

.mountain-image{
  width: 25%;
  min-height: 385px;
  float: left;
}

.mountain-image img{
  width: 100%;
  padding: 10px;
}

@media(max-width: 1100px){
  .mountain-image{
    min-height: 360px;
  }
}

@media(max-width: 950px){
  .mountain-image{
    min-height: 340px;
  }
}

@media(max-width: 767px){
  .mountain-record .data{
  float: left;
  width: 100%;
}

.mountain-record .route{
  float: left;
  width: 100%;
  }
  
  .mountain-image{
    width: 33.33333333333%;
  }
}

@media(max-width: 600px){
  .mountain-image{
    width: 100%;
  }
  
  .mountain-image img{
  padding:10px 30px;
 }
}