

/* トップページ------------------------------------------------------*/

.manager li{
  float: left;
  margin-right: 25px;
}


.top-image{
  position: relative;
}

.top-image img{
  width: 100%;
  height: auto;
}

.top-image p{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
  color: white;
  font-family: arial unicode ms;
}


.pages{
  max-width: 1200px;
  margin: 20px auto;
  padding: 0;
  text-align: center;
}

.pages h1{
  font-size: 20px;
}

.pages:after{
  content:"";
  display: block;
  clear: both;
}

.page{
  width: 33.333333%;
  float:left;
  text-align: center;
  
}

.page .container{
  width: 90%;
  height: 90%;
  margin:0 auto;
  border: 1px solid black;
  border-radius: 5px;
  min-height: 380px;
}

.page .container h2{
  font-size: 20px;
}

.page .container img{
  width:90%;
  height: 150px;
}

.page .container p{
  text-align: left;
  margin-top: 10px;
  padding: 10px;
}

@media(max-width: 799px){
  .top-image p{
    font-size: 15px;
  }
  
  .page .container{
    width: 95%;
    min-height: 450px;
  }
}

@media(max-width: 767px){
  .top-image p{
    font-size: 10px;
  }
  
  .page{
    width: 100%;
    margin-bottom: 20px;
  }
  
  .page .container{
    width: 90%;
    min-height: 300px;
  }
}

.information{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  border-right:2px dotted black;
  border-left:2px dotted black;
}

.information h1{
  font-size: 20px;
  background-color: white;
}
