<header>
  <div class="header-wrapper">
    <div class="header-container">
      
      <div class="title">
        <a href="/"><img src="/images/title.PNG" alt="山おじさんの気まぐれ日記"></a>
      </div>
      
      <nav>
        <ul class="menu">
          <li><a href="/mountains/area">山歩き</a></li>
          <li><a href="/galleries">ギャラリー</a></li>
          <li><a href="/summits">頂上(準備中)</a></li>
          <li><a href="/managers">プロフィール</a></li>
        </ul>
      </nav>
      
    </div>
  </div>
</header>